.card_wrapper {
  width: 250px;
  height: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 0.5px solid lightgray;
  border-radius: 1rem;
  > div.image {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    > div.clip {
      width: 100%;
      height: 100%;
      clip-path: circle(75% at 50% 0);
    }
    > img {
      position: absolute;
      z-index: 50;
      top: 30%;
      width: 60%;
      height: auto;
      aspect-ratio: 1.2/1;
      filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
    }
  }
  > div.details {
    height: 60%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > div.header {
      margin-top: 0.25rem;
      padding: 0 0.8rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      > div.title {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      > div.hp {
        /* border: 0.5px solid lightgray; */
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #feca00;
        background: linear-gradient(
          to bottom left,
          #feca00 38%,
          #d07800 74%,
          #ff9300 91%
        );
        color: #222224;
      }
    }
    > div.badges {
      width: 100%;
      margin-top: 5px;
      padding: 0 20px;
      display: flex;
      gap: 0.8rem;
      > div.badge {
        padding: 10px 5px;
        font-size: 12px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        min-width: 65px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        > div.icon {
          width: auto;
          height: 18px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          > img {
            height: 50%;
            object-fit: contain;
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
          }
        }
      }
    }
    > div.stats {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      row-gap: 0.25rem;
      flex-wrap: wrap;
      > div.stat {
        width: 100px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div.stat_title {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;
          font-size: 0.7rem;
          font-weight: 200;
          > img {
            height: 20px;
          }
        }
        > div.stat_value {
          border: 0.5px solid lightgray;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          border-radius: 0.8rem;
          width: 100%;
          height: 50%;
          display: grid;
          place-content: center;
          > span {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.card_wrapper:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
